//Breakpoints
$mobileL: 425px

// Colors
$black: #000
$white: #fff

$laguna: #F4B666

$gray-5: #9292BF
$gray-3: #A6A6B5

$primary: #017AFF
$night-blue-light: #1F0063
$ocean-blue: #3A97F4

// Font stack
$body-font: -apple-system, BlinkMacSystemFont, sans-serif

// Breakpoints
$max-width: 620px

html, body
  margin: 0
  padding: 0
  font-family: $body-font
  background-color: black
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background-image: url(img/lines.svg)
  background-repeat: no-repeat
  background-position-y: -480px
  background-size: cover
  height: 100%

  @media (max-width: $mobileL)
    background-size: 270%

  &:before
    position: absolute
    content: ''
    height: 100%
    width: 100%
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .1), rgba(0, 0, 0, .4), rgba(0, 0, 0, .6), rgba(0, 0, 0, .5), rgba(0, 0, 0, .1), rgba(0, 0, 0, .4), rgba(0, 0, 0, .6))
    background-size: 200% 200%
    background-position: 0% 100%
    animation-name: highlight
    animation-duration: 5s
    animation-iteration-count: infinite
    animation-timing-function: ease
    animation-direction: alternate

@keyframes highlight
  from
    background-position: 0% 100%
  to
    background-position: 100% 0%


h1, h2, h3
  font-family: $body-font
  color: $white
  font-weight: 700
  line-height: 1.2em
  letter-spacing: 0.01em

h1
  font-size: 3.5em

  @media (max-width: $mobileL)
    font-size: 2.4em

h2
  font-size: 2.5em
  text-shadow: 0px 0px 35px black

  @media (max-width: $mobileL)
    font-size: 2em

h4
  font-family: $body-font
  color: $laguna
  text-transform: uppercase
  font-size: .8em
  letter-spacing: .1em
  text-align: center

p
  font-family: $body-font
  color: $gray-5
  font-size: 1.125em
  line-height: 1.5em

.wrapper
  max-width: $max-width
  margin: 0 auto
  min-height: 100%
  display: flex
  align-items: center
  justify-content: center

#cta
  text-align: center
  padding: 32px
  z-index: 2

  #formshadowcontainer
    display: inline-block
    margin-top: 2em

  form
    display: flex
    justify-content: center
    border-radius: 6px
    box-shadow: 0px 4px 10px rgba(16, 0, 51, 0.2)

    input
      height: 54px
      border: none
      outline: none
      width: 100%
      min-width: 100px
      border-radius: 6px 0px 0px 6px
      caret-color: $laguna
      color: black
      font-family: $body-font
      font-size: 1.125em
      padding: 0em 1em
      margin: 0

      &::placeholder
        color: $gray-3

    button
      height: 54px
      border: none
      outline: none
      border-radius: 0px 6px 6px 0px
      font-family: $body-font
      font-weight: 600
      color: $white
      font-size: 1.125em
      background-color: $primary
      padding: 0em 2em
      cursor: pointer
      margin: 0

      &:hover
        background-color: #AE01FF

  #success
    display: none

    p
      color: $gray-3
    a
      text-decoration: none
      color: $white

      &:hover
        text-decoration: underline
