@charset "UTF-8";
@font-face {
  font-family: Burgess;
  src: url("fonts/burgess-regular.eot");
  src: url("fonts/burgess-regular.eot?") format("☺");
  src: url("fonts/burgess-regular.woff") format("woff");
  src: url("fonts/burgess-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #100033;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-image: radial-gradient(circle at left top, #1F0057, transparent 50%), radial-gradient(circle at 90% 40%, #3F273D, transparent 40%), radial-gradient(circle at 20% 70%, #360F4C, transparent 40%), radial-gradient(circle at center 110%, #ffccb2 6%, #a85fe5, #2b0179, transparent 40%);
  background-repeat: no-repeat;
}

h1, h2, h3 {
  font-family: Burgess, -apple-system-ui-serif, ui-serif, "Merriweather", serif;
  color: #fff;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0.01em;
}

h1 {
  font-size: 3.5em;
}
@media (max-width: 425px) {
  h1 {
    font-size: 2.4em;
  }
}

h2 {
  font-size: 2.5em;
}
@media (max-width: 425px) {
  h2 {
    font-size: 2em;
  }
}

h4 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #F4B666;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-align: center;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #9292BF;
  font-size: 1.125em;
  line-height: 1.5em;
}

.wrapper {
  max-width: 620px;
  margin: 0 auto;
  padding: 0 32px;
}
.wrapper > div {
  padding: 12em 0;
}

#intro {
  margin-top: 8em;
}
@media (max-width: 425px) {
  #intro {
    margin-top: 0;
  }
}
#intro .tagline {
  color: #3A97F4;
  text-align: left;
}
#intro .why {
  font-size: 1.375em;
  font-weight: 600;
}

#header {
  padding: 0;
}
@media (max-width: 425px) {
  #header {
    margin: -5em 0;
  }
}

#principles ul {
  list-style-type: none;
  padding: 0;
}
#principles ul li {
  position: relative;
  margin-bottom: 12em;
  padding-left: 4.5em;
}
@media (max-width: 425px) {
  #principles ul li {
    padding-left: 0;
  }
}
#principles ul li .image {
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 425px) {
  #principles ul li .image {
    top: -64px;
  }
}
#principles ul li:last-child {
  margin-bottom: 0;
}

#cta {
  text-align: center;
  padding-top: 8em;
}
@media (max-width: 425px) {
  #cta {
    padding-top: 0;
  }
}
#cta #formshadowcontainer {
  display: inline-block;
  margin-top: 2em;
}
#cta form {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(16, 0, 51, 0.2);
  margin-bottom: 8em;
}
#cta form input {
  height: 54px;
  border: none;
  outline: none;
  width: 100%;
  min-width: 100px;
  border-radius: 6px 0px 0px 6px;
  caret-color: #F4B666;
  color: #100033;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.125em;
  padding: 0em 1em;
  margin: 0;
}
#cta form input::placeholder {
  color: #A6A6B5;
}
#cta form button {
  height: 54px;
  border: none;
  outline: none;
  border-radius: 0px 6px 6px 0px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 1.125em;
  background-color: #100033;
  padding: 0em 2em;
  cursor: pointer;
  margin: 0;
}
#cta form button:hover {
  background-color: #1F0063;
}
#cta #signatures {
  display: flex;
  margin-top: 2em;
}
#cta #signatures a {
  text-decoration: none;
  text-align: left;
  max-width: 280px;
}
#cta #signatures a:first-child {
  margin-right: 3em;
}
#cta #signatures a:hover p {
  color: #fff;
}
#cta #signatures a .sign {
  height: 72px;
  background-size: contain;
  background-repeat: no-repeat;
}
#cta #signatures a h5 {
  color: #fff;
  font-size: 1.125em;
  font-weight: 500;
  margin: 1em 0 0.5em 0;
}
#cta #signatures a p {
  font-size: 0.875em;
  color: #DDC9EA;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
