// Colors
$black: #000
$white: #fff

$gray-5: #787A83

$night-blue: #100033

// Font stack
$font-stack: -apple-system, BlinkMacSystemFont, sans-serif

// Breakpoints
$max-width: 840px

html, body
  margin: 0
  padding: 0
  font-family: $font-stack

p
  font-family: $font-stack
  color: $gray-5
  font-size: 1.5em
  line-height: 1.25em
  font-weight: 600

  strong
    color: $black
    font-weight: 600

section
  padding: 6em 0

.wrapper
  max-width: $max-width
  margin: 0 auto
  padding: 0 32px

#rise
  background-color: $night-blue
  text-align: center
  color: $white
