html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: black;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-image: url(img/lines.svg);
  background-repeat: no-repeat;
  background-position-y: -480px;
  background-size: cover;
  height: 100%;
}
@media (max-width: 425px) {
  html, body {
    background-size: 270%;
  }
}
html:before, body:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  background-size: 200% 200%;
  background-position: 0% 100%;
  animation-name: highlight;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}

@keyframes highlight {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 100% 0%;
  }
}
h1, h2, h3 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.01em;
}

h1 {
  font-size: 3.5em;
}
@media (max-width: 425px) {
  h1 {
    font-size: 2.4em;
  }
}

h2 {
  font-size: 2.5em;
  text-shadow: 0px 0px 35px black;
}
@media (max-width: 425px) {
  h2 {
    font-size: 2em;
  }
}

h4 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #F4B666;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-align: center;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #9292BF;
  font-size: 1.125em;
  line-height: 1.5em;
}

.wrapper {
  max-width: 620px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cta {
  text-align: center;
  padding: 32px;
  z-index: 2;
}
#cta #formshadowcontainer {
  display: inline-block;
  margin-top: 2em;
}
#cta form {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(16, 0, 51, 0.2);
}
#cta form input {
  height: 54px;
  border: none;
  outline: none;
  width: 100%;
  min-width: 100px;
  border-radius: 6px 0px 0px 6px;
  caret-color: #F4B666;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.125em;
  padding: 0em 1em;
  margin: 0;
}
#cta form input::placeholder {
  color: #A6A6B5;
}
#cta form button {
  height: 54px;
  border: none;
  outline: none;
  border-radius: 0px 6px 6px 0px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 1.125em;
  background-color: #017AFF;
  padding: 0em 2em;
  cursor: pointer;
  margin: 0;
}
#cta form button:hover {
  background-color: #AE01FF;
}
#cta #success {
  display: none;
}
#cta #success p {
  color: #A6A6B5;
}
#cta #success a {
  text-decoration: none;
  color: #fff;
}
#cta #success a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
